.NotFoundBlock {
	display: flex;
	align-items: center;
	min-height: calc(100vh - 137px);
	div {
		margin: 0 auto;
		max-width: 547px;
		height: 523px;
		text-align: center;
		background-color: white;
		h1 {
			font-weight: 700;
			font-size: 32px;
			letter-spacing: 0.01em;
			margin-bottom: 10px;
		}
		p {
			font-weight: 400;
			font-size: 18px;
			letter-spacing: 0.18px;
			color: #777777;
		}
		img {
			margin-top: 47px;
			max-width: 350px;
			height: 255px;
		}
		a {
			margin-top: 74px;
		}
	}
}
