@import '../../styles/colors.scss';

.root {
	display: flex;
	align-items: center;
	height: 80px;
	gap: 10px;
	li {
		a {
			display: inline-block;
			text-align: center;
			width: 45px;
			height: 45px;
			padding: 10px;
			border: 1px solid $orangeColor;
			color: $orangeColor;
			border-radius: 30px;
			cursor: pointer;

			&:hover {
				background-color: $orangeColor;
				color: $whiteColor;
			}
		}
	}
	:global {
		.selected {
			a {
				background-color: $orangeColor;
				color: $whiteColor;
			}
		}
	}
}
